body{
	background-color: black;
	text-align: center;
}

h1{
	color: white ;
	background-color: transparent;
	text-align: center;
}

h2{
	color: white ;
	background-color: transparent;
	text-align: center;
}

h3{
	color: white ;
	background-color: transparent;
	text-align: center;
}

details{
	color: white ;
	background-color: transparent;
	text-align: center;
}
a{
	color: white;
}

li{
	color: white ;
	background-color: transparent;
	text-align: center;
}
label{
	color: white ;
	background-color: transparent;
	text-align: center;
}
table{
	color: white ;
	background-color: transparent;
	text-align: center;
}



